<div class="ui-g">
  <!-- <div class="ui-g-10 ui-g-offset-2"> -->
  <div class="intro">
    <div class="cover">
      <img src="assets/img/comic_cover.png">
    </div>
    <div class="description">
      <div class="title">
        <span>
          MY HEXSCHOOL
        </span>
      </div>
      <div class="detail">
        <span>Genres</span>
        <span>Fusce/vehicula/dolor</span>
      </div>
      <div class="detail">
        <span>Author</span>
        <span>Namae Shiranai</span>
      </div>
      <div class="detail">
        <span>Status</span>
        <span>Ongoing</span>
      </div>
      <div class="detail">
        <span>Rate</span>
        <span>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </span>
      </div>
      <div class="detail">
        <span>Summary</span>
      </div>
      <div class="detail">
        <p>
          If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die. Therefore, I say,

        </p><br>
        <p>
          I saw that this situation of mine was the precise situation of every mortal that has this Siamese connexion with a plurality
          of other mortals.
        </p>
      </div>
    </div>
    <div class="chapter">
        <p-tabView>
            <p-tabPanel header="Header 1">
               Content 1
            </p-tabPanel>
            <p-tabPanel header="Header 2">
                Content 2
            </p-tabPanel>
            <p-tabPanel header="Header 3">
                Content 3
            </p-tabPanel>
        </p-tabView>
    </div>
  </div>
  <!-- </div> -->

</div>
