//font-awsome
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
// font
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: "Noto Sans TC";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$green: #50ff44;
$black: #000000;
$white: #ffffff;
$gray: #f2f2f2;
$lightBlack: rgba(0, 0, 0, 0.8);
$lightGray: rbga(0, 0, 0, 0.1);
$lightWhite: rgba(0, 0, 0, 0.2);

//
nav {
  // display: block;
  background-color: $black;
  height: 74px;
  div {
    display: inline-block;
    color: $green;
    width: 100%;
    text-align: center;
    line-height: 74px;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    // margin: 0 auto;
  }
}
.intro {
  margin: 0 auto;
  width: 610px;
  >div{
    display: inline-block;
    width: 100%;
  }
  .cover {
    width: 300px;
    border: 4px solid $black;
    img{
      width: 100%;
      height: auto;
    }
  }
  .description {
    width: 310px;
    vertical-align: top;
    .title{
      height: 52px;
      // padding: 8px 0px;
      background-color: $black;
      span{
        line-height: 52px;
        color: $white;
        font-size: 36px;
        font-weight: bold;
        width: 100%;
      }
    }
    .detail{
      margin-top: 9px;
      padding-left: 24px;
      padding-right: 24px;
      span{
        &:first-child{
          font-weight: bold;
          display: inline-block;
          width: 100px;
        }
        &:last-child{
          i{
            margin-right: 5px;
          }
        }
      }

    }
  }
  .chapter-container{
    .chapter-title{
      span{
        background-color: $black;
        color: $white;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        padding: 15px 24px;
      }
    }
    .chapter-content{
      border: 4px solid $black;
      >div{
        padding: 15px 24px;
      }
    }
  }
}
