//font-awsome
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
// font
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC';
  box-sizing: border-box;
}
$green:#50ff44;
$black:#000000;
$white:#ffffff;
$gray:#f2f2f2;
$lightBlack:rgba(0,0,0,0.8);
$lightGray:rbga(0,0,0,0.1);
$lightWhite:rgba(0,0,0,0.2);
