@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
$green:#50ff44;
$black:#000000;
$white:#ffffff;
$gray:#f2f2f2;
$lightBlack:rgba(0,0,0,0.8);
$lightGray:rbga(0,0,0,0.1);
$lightWhite:rgba(0,0,0,0.2);
